<div class="artist-form">
  <h2>Add Artist</h2>
  <form (submit)="addArtist()">
    <label for="id">ID:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" required />

    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <label for="birthYear">Birth Year:</label>
    <input type="number" id="birthYear" [(ngModel)]="birthYear" name="birthYear" required />

    <label for="nationality">Nationality:</label>
    <input type="text" id="nationality" [(ngModel)]="nationality" name="nationality" required />

    <label for="famousWorks">Famous Works:</label>
    <input type="text" id="famousWorks" [(ngModel)]="famousWorks" name="famousWorks" required /><br><br>

    <button type="submit" class="btn btn-primary">Add Artist</button>
  </form>
</div>

<div class="artist-list">
  <h2>Artist List</h2>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Nationality</th>
      <th>Famous Works</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artist of artists; let i = index">
      <td>{{ artist.id }}</td>
      <td>{{ artist.name }}</td>
      <td>{{ artist.birthYear }}</td>
      <td>{{ artist.nationality }}</td>
      <td>{{ artist.famousWorks.join(', ') }}</td>
      <td>
        <button (click)="removeArtist(i)" class="remove-btn">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
