
<div class="button-container">
  <button routerLink="" routerLinkActive="router-link-active" class="list-button">Student List</button>
  <button routerLink="employeelist" routerLinkActive="router-link-active" class="list-button">Employee List</button>
  <button routerLink="fruitlist" routerLinkActive="router-link-active" class="list-button">Fruit List</button>
  <button routerLink="courselist" routerLinkActive="router-link-active" class="list-button">Course List</button>
  <button routerLink="booklist" routerLinkActive="router-link-active" class="list-button">Book List</button>
  <button routerLink="citylist" routerLinkActive="router-link-active" class="list-button">City List</button>
  <button routerLink="movielist" routerLinkActive="router-link-active" class="list-button">Movie List</button>
  <button routerLink="carmodellist" routerLinkActive="router-link-active" class="list-button">Car Model List</button>
  <button routerLink="productlist" routerLinkActive="router-link-active" class="list-button">Product List</button>
  <button routerLink="subjectlist" routerLinkActive="router-link-active" class="list-button">Subject List</button>
  <button routerLink="countrylist" routerLinkActive="router-link-active" class="list-button">Country List</button>
  <button routerLink="sportlist" routerLinkActive="router-link-active" class="list-button">Sport List</button>
  <button routerLink="vegetablelist" routerLinkActive="router-link-active" class="list-button">Vegetable List</button>
  <button routerLink="animallist" routerLinkActive="router-link-active" class="list-button">Animal List</button>
  <button routerLink="toollist" routerLinkActive="router-link-active" class="list-button">Tool List</button>
  <button routerLink="languagelist" routerLinkActive="router-link-active" class="list-button">Language List</button>
  <button routerLink="gamelist" routerLinkActive="router-link-active" class="list-button">Game List</button>
  <button routerLink="softwarelist" routerLinkActive="router-link-active" class="list-button">Software List</button>
  <button routerLink="phonelist" routerLinkActive="router-link-active" class="list-button">Phone List</button>
  <button routerLink="musicplaylist" routerLinkActive="router-link-active" class="list-button">Music Playlist</button>
  <button routerLink="foodmenu" routerLinkActive="router-link-active" class="list-button">Food Menu</button>
  <button routerLink="grocerylist" routerLinkActive="router-link-active" class="list-button">Grocery List</button>
  <button routerLink="classroomlist" routerLinkActive="router-link-active" class="list-button">Classroom List</button>
  <button routerLink="inventorylist" routerLinkActive="router-link-active" class="list-button">Inventory List</button>
  <button routerLink="lecturelist" routerLinkActive="router-link-active" class="list-button">Lecture List</button>
  <button routerLink="stationerylist" routerLinkActive="router-link-active" class="list-button">Stationery List</button>
  <button routerLink="flowerlist" routerLinkActive="router-link-active" class="list-button">Flower List</button>
  <button routerLink="destinationlist" routerLinkActive="router-link-active" class="list-button">Destination List</button>

</div>

<router-outlet></router-outlet>

