
<nav>
  <a routerLink="" routerLinkActive="router-link-active">Student List</a>
  <a routerLink="employeelist" routerLinkActive="router-link-active">Employee List</a>
  <a routerLink="fruitlist" routerLinkActive="router-link-active">Fruit List</a>
  <a routerLink="courselist" routerLinkActive="router-link-active">Course List</a>
  <a routerLink="booklist" routerLinkActive="router-link-active">Book List</a>
  <a routerLink="citylist" routerLinkActive="router-link-active">City List</a>
</nav>

<router-outlet></router-outlet>
