
<nav>
  <a routerLink="" routerLinkActive="router-link-active">Student List</a>
  <a routerLink="employeelist" routerLinkActive="router-link-active">Employee List</a>
  <a routerLink="fruitlist" routerLinkActive="router-link-active">Fruit List</a>
  <a routerLink="courselist" routerLinkActive="router-link-active">Course List</a>
  <a routerLink="booklist" routerLinkActive="router-link-active">Book List</a>
  <a routerLink="citylist" routerLinkActive="router-link-active">City List</a>
  <a routerLink="movielist" routerLinkActive="router-link-active">Movie List</a>
  <a routerLink="carmodellist" routerLinkActive="router-link-active">Car Model List</a>
  <a routerLink="productlist" routerLinkActive="router-link-active">Product List</a>
  <a routerLink="subjectlist" routerLinkActive="router-link-active">Subject List</a>
</nav>

<router-outlet></router-outlet>
