<div class="framework-form">
  <h2>Add Framework</h2>
  <form (submit)="addFramework()">
    <label for="id">ID:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" required />

    <label for="name">Framework Name:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="description" name="description" required />

    <label for="language">Language:</label>
    <input type="text" id="language" [(ngModel)]="language" name="language" required /><br><br>

    <button type="submit" class="btn btn-primary">Add Framework</button>
  </form>
</div>

<div class="framework-list">
  <h2>Framework List</h2>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Language</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let framework of frameworks; let i = index">
      <td>{{ framework.id }}</td>
      <td>{{ framework.name }}</td>
      <td>{{ framework.description }}</td>
      <td>{{ framework.language }}</td>
      <td>
        <button (click)="removeFramework(i)" class="remove-btn">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
